.container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  position: relative;

  background-color: var(--negative-color);

  flex-basis: 32%;
  min-width: var(--card-min-width);
  //max-width: var(--card-max-width);
  flex-grow: 1;

  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  &:hover {
    box-shadow: var(--box-shadow-focus);
  }

  .header {
    padding: var(--item-padding-top) var(--item-padding-left) 0;

    h2 {
      overflow-y: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: var(--h2-size);

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .content {
    padding: var(--item-padding-top) var(--item-padding-left);

    width: 100%;
    height: var(--card-height);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: var(--items-gap);

    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .values {
      display: flex;
      align-items: center;
      gap: var(--items-gap);
    }
  }

  overflow: hidden;
  .banner {
    position: absolute;
    height: calc(var(--card-player-img-heigth));
    right: var(--item-padding-left);
    top: var(--item-padding-top);

    //filter: drop-shadow(0px 0px 50px var(--button-color));
  }
}
