.nameContainer {
  display: flex;
  gap: var(--items-gap);
  width: fit-content;
  align-items: center;
  margin-bottom: 5px;

  img {
    height: var(--card-player-img-heigth);
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .clanName {
      font-weight: 600;
    }

    .tag {
      color: var(--second-font-color);
      font-size: calc(var(--font-size) - 2px);
    }
  }

  .icon {
    height: var(--card-player-labels-img-heigth) !important;
  }
}
