@import "../CardLoader.module.scss";

.container {
  height: var(--card-height);

  flex-basis: var(--card-width);
  min-width: var(--card-min-width);
  max-width: var(--card-max-width);
  
  flex-grow: 1;

  @extend .cardContainer;
}
