.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;

  height: 100vh;
  align-items: center;

  .banner {
    height: calc(var(--header-height) + 350px);
    max-height: calc(var(--header-height) + 350px);
    width: 100%;

    @media screen and (max-width: 1024px) {
      height: calc(var(--header-height) + 350px);
      max-height: calc(var(--header-height) + 650px);
    }
  }
}
