.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;

  height: 100vh;
  align-items: center;

  .banner {
    padding-top: var(--header-height);
    height: var(--main-banner-height);
    width: 100%;
  }

  .top {
    height: 400px;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }
}
