.flex {
  display: flex;
}

.gap {
  gap: var(--items-gap);
}

.container {
  height: 100%;
  width: 100%;

  .section {
    flex-basis: 45%;

    .details {
      width: 100%;

      .detailsItem {
        width: 100%;

        img {
          height: var(--card-player-labels-img-heigth);
        }

        .input {
          width: 100%;
        }

        gap: calc(var(--items-gap) / 2);
        align-items: center;
        justify-content: center;
        @extend .flex;
      }

      flex-direction: column;
      @extend .gap;
      @extend .flex;
    }

    flex-direction: column;
    @extend .gap;
    @extend .flex;
  }

  justify-content: space-between;
  @extend .gap;
  @extend .flex;
}
