@import "./CardHeader.module.scss";

.item {
  margin: 0 auto 0 0;

  img {
    max-height: var(--line-card-img-heigth);
  }

  .cardInfo {
    align-items: flex-start;

    p {
      width: calc(var(--line-card-header-width) - var(--line-card-img-heigth))!important;
      max-width: none;
    }
  }
}
