.parent {
  display: grid;
  grid-template-columns: var(--card-grid);
  grid-template-rows: 1fr;
  grid-column-gap: var(--items-gap);
  grid-row-gap: var(--items-gap);
}

.topStats {
  height: fit-content;
  background: var(--background-gradient);

  padding: var(--page-padding-top) var(--page-padding-left);

  @extend .parent;
}

