.topStats {
  height: fit-content;
  background: var(--background-gradient);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: var(--page-padding-top) var(--page-padding-left);
  gap: var(--items-gap);
}
