@import "../../../CardStyles.module.scss";

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: var(--items-gap);
  grid-row-gap: 0px;
}

.container {
  align-items: center;
  overflow-x: scroll;
  padding: 0 var(--item-padding-left);

  flex-basis: 100%;
  height: 45px;

  @extend .cardContainer;
  @extend .parent;

  .item {
    justify-content: center;
    display: flex;
    gap: var(--items-gap);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .last {
    margin: 0 0 0 auto !important;
  }
}
