.flex {
  display: flex;
}

.gap {
  gap: var(--items-gap);
}

.container {
  height: 100%;
  width: 100%;

  .section {
    flex-basis: 45%;

    .details {
      width: 100%;

      flex-direction: column;
      @extend .gap;
      @extend .flex;
    }

    flex-direction: column;
    @extend .gap;
    @extend .flex;
  }

  justify-content: space-between;
  @extend .gap;
  @extend .flex;
}
