.flex {
  display: flex;
}

.gap {
  gap: var(--items-gap);
}

.detailsContainer {
  min-height: 300px;
  max-height: 400px;
  overflow-y: scroll;

  width: 100%;
  background-color: var(--bg-color);

  padding: var(--item-padding-top) var(--item-padding-left);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  &:hover {
    box-shadow: var(--box-shadow-focus);
  }

  .inputContainer {
    flex-basis: 100%;

    flex-direction: column;

    @extend .gap;
    @extend .flex;
  }

  .labels {
    max-width: calc(
      (var(--items-gap) / 2) * 3 + var(--card-labels-img-heigth) * 4
    );
  }

  @extend .gap;
  @extend .flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .labels {
      max-width: 100%;
    }
  }
}
