.flex {
  display: flex;
}

.gap {
  gap: var(--items-gap);
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .section {
    //overflow: scroll;
    flex-basis: 45%;

    .details {
      width: 100%;

      .detailsItem {
        width: 100%;
      }

      flex-direction: column;
      @extend .gap;
      @extend .flex;
    }

    flex-direction: column;
    @extend .gap;
    @extend .flex;
  }

  .active {
    width: 100% !important;
    flex-basis: 100%!important;

    .details {
      .detailsItem {
        width: 45%;
      }

      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row !important;
    }
  }

  justify-content: space-between;
  @extend .gap;
  @extend .flex;
}
