.item {
  display: flex;
  align-items: center;
  gap: calc(var(--items-gap));

  .cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
      font-weight: 600;
    }

    .tag {
      color: var(--second-font-color);
      font-size: calc(var(--font-size) - 2px);
    }
  }
}
