.flex {
  display: flex;
}

.gap {
  gap: var(--items-gap);
}

.container {
  position: relative;
  flex-direction: column;
  z-index: 2;

  padding: var(--items-gap) var(--page-padding-left) var(--page-padding-top);
  gap: var(--items-gap);

  .displaySettings {
    display: flex;
    justify-content: space-between;
  }

  .cards {
    min-height: calc(
      100vh - var(--filters-container-heigth) - var(--header-height) * 2 -
        var(--items-gap) * 3
    );
    
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: calc(var(--items-gap) / 2);
  }

  @extend .flex;
}
