.flex {
  display: flex;
}

.gap {
  gap: var(--items-gap);
}

.parent {
  display: grid !important;
  grid-template-columns: var(--card-grid);
  grid-template-rows: 1fr;
}

.container {
  position: relative;
  flex-direction: column;
  z-index: 2;

  padding: var(--items-gap) var(--page-padding-left) var(--page-padding-top);
  gap: var(--items-gap);

  .cards {
    // min-height: calc(
    //   100vh - var(--filters-container-heigth) - var(--header-height) * 2 -
    //     var(--items-gap) * 4
    // );

    min-height: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: calc(var(--items-gap) / 2);
  }

  .cardsBlock {
    @extend .parent;
  }

  @extend .flex;
}
