.input {
  height: 100%;

  position: relative;
  width: 100%;

  border: 2px solid var(--border-color);
  -webkit-border: 2px solid var(--border-color);
  -moz-border: 2px solid var(--border-color);

  border-top: 3px solid var(--border-color);
  -webkit-border-top: 3px solid var(--border-color);
  -moz-border-top: 3px solid var(--border-color);

  display: flex;
  justify-content: center;
  align-items: center;

  .results {
    position: absolute;
    display: none;

    background-color: var(--bg-color);

    top: 0;
    left: 0;

    transform: translateY(var(--main-input-height));
    width: var(--input-results-width);

    height: fit-content;
    max-height: calc(var(--main-input-height) * 5);
    overflow-y: auto;

    z-index: 2;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);

    &::-webkit-scrollbar {
      display: none;
    }
  }

  input:focus ~ .results,
  .results:hover {
    display: block;
  }
}
