:root {
  --font-color: #141414;
  --bg-color: #ffff;

  --border-color: rgba(34,36,38,.15);
  --focus-color: rgba(34,36,38,.15);

  --table-color: rgba(34,36,38,.15);

  --scroll-color: rgba(34,36,38,.15);

  --page-padding-top: var(--header-height);
  --page-padding-left: 8vw;
  --page-padding-bottom: 25px;

  --item-padding-top: 8px;
  --item-padding-left: 12px;

  --items-gap: 12px;
  --border-radius: 8px;

  --font-size: 16px;

  --transition: 0.3s;

  //HEADER
  --header-height: 45px;
  --header-logo-size: 16px;

  //MAIN
  --main-table-heigth: 70%;
  --main-table-max-heigth: 500px;

  --main-table-width: 80%;
  --main-table-max-width: 750px;

  --main-table-height: 47px;

  @media screen and (max-width: 1024px) {
    --page-padding-top: calc(var(--header-height) + 20px);
    --page-padding-left: 8vw;

    --font-size: 14px;

    //MAIN
    --main-table-heigth: 80%;
    --main-table-width: 100%;
  }
}
