.flex {
  display: flex;
}

.gap {
  gap: var(--items-gap);
}

.detailsContainer {
  max-height: 300px;
  overflow-y: scroll;

  width: 100%;
  background-color: var(--bg-color);

  padding: var(--item-padding-top) var(--item-padding-left);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  &:hover {
    box-shadow: var(--box-shadow-focus);
  }

  .inputContainer {
    flex-basis: 100%;

    flex-direction: column;

    @extend .gap;
    @extend .flex;
  }

  .labels {
    padding: 1px;
    max-width: calc(
      (var(--items-gap) / 2) * 1 + var(--card-labels-img-heigth) * 2 + 2px
    );

    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  @extend .gap;
  @extend .flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    max-height: fit-content;
    height: fit-content;

    .labels {
      max-width: 100%;
      overflow-x: scroll;
    }
  }
}
