.flex {
  display: flex;
}

.gap {
  gap: var(--items-gap);
}

.detailsContainer {
  z-index: 2;

  max-height: var(--filters-container-heigth);
  overflow-y: scroll;

  width: 100%;
  background-color: var(--bg-color);

  padding: var(--item-padding-top) var(--item-padding-left);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  &:hover {
    box-shadow: var(--box-shadow-focus);
  }

  .inputContainer {
    flex-basis: 100%;
    flex-direction: column;

    .input {
      white-space: nowrap;
      height: var(--main-input-height);

      .button {
        padding: var(--item-padding-top) var(--item-padding-left);
        background-color: var(--button-color);
        border-radius: var(--border-radius);
        color: var(--button-font-color);

        &:hover {
          opacity: 0.95;
        }
      }

      @extend .gap;
      @extend .flex;
    }

    @extend .gap;
    @extend .flex;
  }

  .labels {
    padding: 1px;
    min-width: calc(
      (var(--items-gap) / 2) * 2 + var(--card-labels-img-heigth) * 2 + 0px
    );
    max-width: calc(
      (var(--items-gap) / 2) * 2 + var(--card-labels-img-heigth) * 2 + 0px
    );
    justify-content: center;

    min-height: calc(var(--card-labels-img-heigth) + var(--scrollbar-heigth) * 2 + 2px);

    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  @extend .gap;
  @extend .flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: fit-content;

    .labels {
      max-width: 100%;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: block;
      }
    }
  }
}
